<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Authentication</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            padding-top: 80px;
        }
    </style>

</head>
<body>
 <div class ="container">
     <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> New Technology Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-outline-secondary"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-outline-secondary"><span class="fa fa-user-plus"></span> Local Signup</a>
     </div>

 </div>
    

</body>
</html>